h1{
    font-weight: 100px;
    font: monospace;
    size: 200px;
    background-color: gray;
}
h2{
    font: monospace;
    font-weight: 50px;
}
img{
    width: 200px;
}
ul{
    background-color: aliceblue;
    align-items: center;
}
a{
    background-color: aliceblue;
    font: monospace;
}
ol{
    background-color: antiquewhite;
}
li{
    font: monospace;
}